:root {
    --background-color: #ffffff;
    --background-search: #ffffff;
    --border-search: #606060;
    --text-color: #000;

    --contact-list-background: #f4f4f4;
    --contact-list-background-hover: #ec7311;
    --contact-list-text-hover: #ffffff;
    
    --contact-border-hover: var(--border-search);
    --contact-border: var(--border-search);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(66, 65, 77);
        --background-search: rgb(66, 65, 77);
        --border-search: rgb(143, 143, 157);
        --text-color: rgb(251, 251, 254);

        --contact-list-background: rgb(66, 65, 77);
        --contact-list-background-hover: rgb(82, 82, 94);
        --contact-list-text-hover: var(--text-color);
        
        --contact-border-hover: var(--border-search);
        --contact-border: var(--border-search);
    }
}

span.searchBox {
    border: 0px;
    display: inline-block;
}

#resultsWrapper {
    position: absolute;
    z-index: 1000;
    max-width: 350px;
    background: var(--background-color);
    margin-top: 22px;
}

#resultsWrapper label,
#resultsWrapper input {
    border: 0px;
}

input[type="text"] {
    color: var(--text-color);
    background-color: var(--background-search);
    border: 0px solid var(--background-search);
    border-bottom: 0px solid var(--border-search);
}

input.search {
    width: 100vw;
}

ul.results {
    width: 350px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.results li {
    margin-left: 0;
}

li.contact {
    color: var(--text-color);
    background-color: var(--contact-list-background);
    border: 1px solid var(--contact-border);
    padding: .5em;
    padding-left: .5em;
}

li.contact:hover,
li.selected {
    background: var(--contact-list-background-hover);
    color: var(--contact-list-text-hover);
    border: 1px solid var(--contact-border-hover);
    cursor: pointer;
}
